@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

h1 {
	@include default-text-color($main-green);
	text-align: center;
	font-family: $font-main;
}

.parent {
	position: relative;
}

img {
	width: 450px;
	@include centerer;
}

p {
	@extend h1;
	font-size: 18px;
}

ul {
	@extend h1;
	text-align: left;
	font-size: 18px;
	& {
		background-color: transparentize($ash-gray, 0.6);
	}
	li {
		font-size: 16px;
		&:last-of-type {
			color: complement($green);
		}
	}
}

@for $item from 1 through length($color-headlines) {
	h#{$item} {
		color: nth($color-headlines, $item);
	}
}

$color-btn-names: 'default', 'hot', 'cool';
$color-btn-values: $main-green, $red, $blue;

$color-btns: (
	default: $main-green,
	hot: $red,
	cool: $blue
);

@each $key, $value in $color-btns {
	.btn-#{$key} {
		@extend %btn;
		background-color: $value;
	}
}
