@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

h1 {
	@include default-text-color($main-green);
	text-align: center;
	font-family: $font-main;
}

.parent {
	position: relative;
}

img {
	width: 450px;
	@include centerer;
}

p {
	@extend h1;
	font-size: 18px;
}

ul {
	@extend h1;
	text-align: left;
	font-size: 18px;
	& {
		background-color: $ash-gray;
	}
	li {
		font-size: 16px;
		&:last-of-type {
			color: $green;
		}
	}
}
